<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl" th:replace="layout::site-header">
</head>
<body>
<div th:replace="layout::main-link"/>
<div th:replace="layout::site-login"/>

<div class="container well text-center">
    <label style="font-size: 20px">SCENA</label>
    <!--/*--><!--@thymesVar id="allSeats" type="List<com.lugowski.entities.Seat>"--><!--*/-->
    <form method="post" action="#" th:action="@{__${#httpServletRequest.requestURI}__/submit}" th:object="${choosenSeatsData}">
        <ol >
            <li class="row" th:each="r : ${#numbers.sequence(1, 8)}">
                <ol class="seats">
                    <label th:text="${r}"/>
                    <li class="seat" th:each="currentSeat :${allSeats}" th:if="${currentSeat.getRow() ==r}">
                        <input type="checkbox" th:id="${currentSeat.getId()}"
                               name="seatsReserved" th:name="seatsReserved" th:value="${currentSeat.getId()}"/>
                        <label th:for="${currentSeat.getId()}" th:text="${currentSeat.getNumber()}"></label>
                    </li>
                </ol>
            </li>
        </ol>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div class="input-group">
                    <input type="text" class="form-control" th:id="name" placeholder="Imię"
                           name="name" th:name="name" th:value="${customer.getName()}"/><br/>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" th:id="surname" placeholder="Nazwisko"
                           name="surname" th:name="surname" th:value="${customer.getSurname()}"/><br/>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" th:id="email" placeholder="Adres e-mail"
                           name="email" th:name="email" th:value="${customer.getEmail()}"/><br/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row text-center">
            <div class="btm-btn-right">
                <input type="submit" value="Potwierdź rezerwację" class="btn btn-lg btn-info"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout::site-footer"/>

</body>
</html>